$primaryColor: rgba(14, 64, 74, 1);
$disabledColor: rgba(62, 102, 110, 1);
$disabledTextFieldColor: rgba(158, 178, 182, 1);
$activeColor: rgba(147, 200, 64, 1);
$backDropColor: rgba(156, 255, 1, 1);
$errorColor: rgba(211, 47, 47, 1);
$paper: rgba(255, 255, 255, 1);
$scrollBarColor: rgba(151, 151, 151, 1);
$avatarBackGroundColor: rgba(217, 217, 217, 1);
$fontInter: 'Inter';
$textTransform: 'capitalize';
$borderWidth: 2px;
$borderRadius: 7px;
$linkCursor: 'default';
$btnHeight: 55px;
$btnFontWeight: 700;
$errorTextFontWeight: 500;
$btnFontSize: 18px;
$textFieldValueFontSize: 13px;
$paddingAcrossBtnLink: 0px;
$lineHeightAcrossBtnLink: 1.44;
$boxShadowDashboardButton: 0px 3px 8px 0px rgba(0, 0, 0, 0.08);
$borderDashboardButton: 2px solid rgba(14, 64, 74, 0.10);
$appBarShadow: 0px 3px 3px -2px rgba(0, 0, 0, 0.2);
$fontSizeDashboardButton: 16px;
$warningColor: rgba(237, 108, 2, 1);
$successColor: rgba(147, 200, 64, 1);
$snackBarColor: rgba(255, 255, 255, 1);
$hoverColor: rgba(239, 247, 227, 1);
$dividerColor: rgba(180, 196, 196, 1);
$activeColorLightVariant: rgba(233, 244, 217, 1);
$avatarBackGroundColorForEvenRow: rgba(241, 237, 204, 1);
$avatarBackGroundColorForOddRow: rgba(198, 238, 246, 1);
$disabledIconColor: rgba(0, 0, 0, 0.26);
$disabledIconBackGroundColor: rgba(0, 0, 0, 0.12);
$calendarPreviousDateColor: rgba(14, 64, 74, 0.54);
$gridBorderColor: 2px solid rgba(14, 64, 74, 0.8);
$borderGridThinerLine: 1px solid rgba(14, 64, 74, 0.12);
$borderGridThickerLine: 1px solid rgba(14, 64, 74, 0.6);
$boxShadowTimeOffActionButtons: 10px 10px 10px 10px rgba(0, 0, 0, 0.08);
$outlinedButtonBorder: 2px solid rgba(14, 64, 74, 0.8);
$tableDividerColor: rgba(216, 216, 216, 1);
$tableHeaderCellBackGroundColor :rgba(14, 64, 74, 0.10);
$appBarHeight: 52px;